.navbar {
    width: 99vw;
    border: 1px white;
    background-color: whitesmoke;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    align-items: right;
}
a {
    text-decoration: none;
    color: darkblue;
    
}
a:hover {
    color: blueviolet;
}
.header {
    margin-top: 50px;
    text-align: center;
    font-size: larger;
    font-family: cursive;
}
.intro {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
img {
    width: 487px;
    height: 550px;
}
.column {
    border: px solid darkblue;
    padding: 70px;
    margin: 20px;
}
.column img{
    float: left;
    margin: 20px;
    width: 350px;
    height: 350px;
    border-radius: 50%; 
}
.column p {
    font-size: 25px;
    font-style: italic;
}
.form {
    margin-left: 500px;
    border: px solid darkblue;
    border-radius: 10px;
    padding: 20px;
    margin-right: 520px;
}
.footer {
    margin-top: px;
}
body {
    background-color: burlywood;
}
